body {
    background-color: var(--dark-color);
}

.conteudo {
    min-height: 300px;
    margin: auto auto;
    background-color: var(--contrast-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 30px var(--light-color);
}

.titulo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.conteudo form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}