header {
    display: flex;
    background-color: var(--contrast-color);
    border-bottom: 4px solid var(--main-color);
    box-shadow: 0px 2px 30px var(--light-color);
}

header .logoContainer {
    border-right: 4px solid var(--main-color);
    padding: 3px;
}

.nav-link,
.nav-link:visited {
    font-size: 1.3rem;
    color: var(--main-color);
    font-weight: 500;
}

.nav-link:hover {
    color: var(--dark-color);
}

/* header .logo {} */