div.flex-box {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

div.flex-box div:first-child{
    margin: 2rem 4rem;
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: justify;
    
}
div.flex-box div h3{
    font-size: 2.4rem;    
    margin: 2rem 0rem;

}


div.flex-box div:nth-child(2){
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

div.flex-box div:last-child{
    margin: 2rem 4rem;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

