/* Efeitos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-maior, .titulo-medio, .titulo-menor, p {
    color: black;
    margin: 50px auto;
}

.titulo-maior {
    font-size: 50px;
}

.titulo-medio {
    font-size: 35px;
}

p {
    width: 900px;
    position: relative;
    bottom: 20px;
}

.apresentacao {
    position: relative;
    height: 500px;
}

.desenvolvedores {
    width: 500px;
    margin: 50px auto;
}