{% load static %}
{% block 'scripts' %}

<link rel="stylesheet" href="{% static 'css/header.css'%}" />
<script src="{% static 'scripts/edicao.js'%}"></script>

{% endblock 'scripts' %}

<header>
    <div class="logoContainer">
        <img src="{% static 'img/logoComContorno.png' %}" class="logo" alt="Logo emerald">
    </div>
    <nav class="navbar navbar-expand-lg" style="width: 100%;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Produtos</a>
                    </li>
                </ul>
                <span class="space"></span>
                <div class="contexto">
                    {% if request.user.is_authenticated %}

                    <p>Seja bem-vindo, {{ request.user.first_name}}</p>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>

                    {% else %}

                    <a href="{% url 'login' %}" class="btn btn-success">Entrar</a>
                    <a href="{% url 'cadastro' %}" class="btn btn-primary">Cadastrar-se</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>